body{
    overflow:auto;
    background-color:goldenrod;
    text-align: centre;    
}
h1{
    color:blue;
}
p{
    font-size: large;
    font-style: oblique;
    color: indigo;
    padding: 0px;
}
h2{
    color:purple;
}
h3{
   color: purple; 
}
#services{
    flex-direction: row;
    flex-wrap: wrap;
}
.cakes{
    display:block;
}
nav{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0;
    font-size: xx-large;
    text-align: right;
}
nav>ul>li>a{
    padding: 18px;
    margin-right: 0;
    text-transform:uppercase;
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.733);
}
nav>ul>li>a:hover{
    box-shadow: 0 0 15px rosybrown;
    background-color: seagreen;
    text-align: righ;
}
img{
    width: 300px;
    height: 200px;
}
#menu{
    flex-direction: column;
}