body{
    overflow:auto;
    background-image:url('https://bit.ly/379Hlck');
    text-align: centre;    
}
h1{
    color:blue;
}
p{
    font-size: large;
    font-style: oblique;
    color: indigo;
    padding: 0px;
}
h2{
    color: peru;
}
h3{
   color: purple; 
}
#services{
    flex-direction: row;
    flex-wrap: wrap;
}
.cakes{
    display:block;
}
#contacts{
    text-align: centre;
}
